@media screen and (min-width: 375px) and (max-width: 1000px) {

    .header {
        height: 370px;
    }

    .header__nav {
        top: 32px;
        margin-left: 100px;
        white-space: nowrap
    }

    .header__title {
        margin-top: 100px;
        margin-left: 100px;
    }

    .header__text {
        margin-top: 190px;
        margin-left: 100px;
    }

    .header__button {
        height: 30px;
        margin-top: 310px;
        margin-left: 100px;
    }

    .about {
        height: 230px;
    }

    .section__text {
        height: 26px;
        margin-top: 120px;
    }

    .section__header {
        margin-top: 44px;
    }

    .numbers {
        height: 100px;
    }

    .numbers__position {
        margin-left: 100px;
        display: inline-flex;
        padding: 30px;
    }

    .numbers__number {
        height: 40px;
    }

    .work {
        height: 450px;
    }

    .work__video {
        height: 230px;
    }

    .work__play {
        height: 20px;
    }

    .footer {
        height: 100px;
        font-size: 19px;
    }

    .footer__header {
        margin-top: 20px;
        margin-left: 100px;
    }

    .footer__text {
        margin-top: 60px;
        font-size: 13px;
        margin-left: 100px;
    }
}